/* 

### Primary

Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%)

### Neutral

Light gray: hsl(0, 0%, 81%)
Light grayish blue: hsl(210, 46%, 95%)

Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity


- Font size: 13px

font-family: 'Barlow Semi Condensed', sans-serif; 

*/


html {
    font-family: 'Barlow Semi Condensed', sans-serif; 
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
}


.box1 {
    background-color: hsl(263, 55%, 52%);
}

.box2 {
    background-color: hsl(217, 19%, 35%);
}

.box3 , .box5 {
    background-color: white;


}

.box4 {
    background-color: hsl(219, 29%, 14%);

}

.box1 , .box2  , .box3  , .box4 , .box5 {
    padding: 30px;
    border-radius: 8px;
}

.quote {
    position: absolute;
    left: 350px;
    top: 10px
}

.content {
    position: relative;
}


.pp1 , .pp2 , .pp3 , .pp4 , .pp5 {
    border-radius: 50%;
    width: 40px;
    float: left;
}

.pp1 {
    border: white 1px solid;
}

.pp2 {
    border: black 1px solid;
}

.pp4 {
    border: hsl(263, 55%, 52%) 1px solid;

}

.namewhite {
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding-left: 60px;
}

.nameblack {
    font-weight: 500;
    font-size: 16px;
    padding-left: 60px;

}

.verifiedwhite {
    opacity: 50%;
    color: white;
    padding-left: 60px;

}

.verifiedblack {
    opacity: 50%;
    padding-left: 60px;

}

.headerwhite {
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 20px;
}

.headerblack {
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 20px;
}

.paragraphwhite {
    color: white;
    opacity: 70%;
}

.paragraphblack {
    opacity: 70%;
}




@media screen and (min-width: 400px) {
    /* DESKTOP VERSION */
    body {
        display: grid;
        grid-template-columns: repeat(4, 250px);
        grid-template-rows: repeat(2, 300px);
        grid-template-areas: 
            "a a b e"
            "c d d e";
        grid-gap: 20px;
    }

    .box1 {
        grid-area: a;
    }

    .box2 {
        grid-area: b;
    }

    .box3 {
        grid-area: c;
    }

    .box4 {
        grid-area: d;
    }

    .box5 {
        grid-area: e;
    }
}

@media screen and (max-width: 300px) {
    /* MOBILE VERSION */

}